.box {
    .box1 {
    width: 945;
    height: 370;
    background: red;
    background: url("../01.jpg") no-repeat center center;
    background-size: cover;
    margin: 0 auto;
    }
    .box1 P {
        
    }
    P {color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 165px
}